/* 
      show 
  */

.back-btn {
  padding: 7px;
}
.addmore-btn {
  padding: 7px;
  background-color: #abc;
  transition: 0.3s;
  cursor: pointer;
}
.addmore-btn:hover {
  background-color: rgb(233, 150, 122);
}
.back-link,
.addmore-link {
  width: 150px;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addmore-link {
  color: #fff;
}
.back-link span,
.addmore-link span {
  margin-left: 5px;
}

.show {
  /* display: flex; */
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 100%;
}
.sidebar {
  background-color: #ccc;
  padding: 7rem 0;
}
.to-top {
  color: #fff;
  text-shadow: 1px 1px 3px rgb(187, 221, 215);
  position: fixed;
  top: 2rem;
  left: 1.5rem;
}
.categories-wrapper {
  position: sticky;
  top: 10rem;
}
.show-current-category {
  display: flex;
  justify-content: right;
  background-color: aquamarine;
  padding: 10px;
  width: 110%;
}
.categories-wrapper .categories .cat:hover {
  background-color: rgba(233, 150, 122, 0.6);
}
.cat-options {
  margin: 5rem 0;
}
.cat-options a {
  display: block;
  color: #333;
  cursor: pointer;
}
.blog-wrapper {
  padding: 1.5rem 5rem 7rem;
}
.show-img {
  margin: 2rem;
  text-align: center;
}
.show-img img {
  width: 80%;
  object-fit: cover;
}
.show-texts {
  margin: 0 2rem;
}
.blog-detail {
  margin: 8rem auto;
  text-align: left;
}
.show-title {
  text-align: left;
}
.show-time {
  text-align: right;
}
.author-info {
  display: flex;
  align-items: center;
}
.show-auth {
  text-align: left;
  padding-left: 1rem;
}
.show-place,
.show-country,
.show-body {
  margin: 2rem 0;
}

@media (max-width: 890px) {
  .show {
    display: block;
  }
  .sidebar {
    display: none;
  }
}
